!!!
%head
  %title= app_name
  :css
    .container    {font-size: 20px; width: 1000px; padding-bottom: 100px;}
    .label        {float: left; width: 400px; font-weight: bold}
    .spacer       {clear: both; padding: 10px;}
    .value        {float: left; width: 500px; text-align: right;}
    td {padding: 0 5px}
    #previous_versions .value {clear: both; width: 1000px; text-align: left;}
    #previous_versions tr.header td {font-weight: bold}
    #previous_versions .value tr.even {background: #dddddd;}
    #headers .value {clear: both; width: 1000px; text-align: left;}
    #headers .value tr.even {background: #dddddd;}
    .clear        {clear: both;}
%body
  .container
    .spacer
    #version
      .label= "#{app_name} Version"
      .value
        %a{:href => version_link(version)}= version_or_branch
    .spacer
    #date
      .label Date Deployed
      .value= deploy_date
    .spacer
    #commit
      .label Last Commit
      .value
        %a{:href => commit_link(last_commit)}= last_commit
    .spacer
    #host
      .label Host
      .value= hostname
    .spacer
    #environment
      .label Environment
      .value= environment
    .spacer
    #previous_versions
      .label Previous Versions
      .value
        - unless previous_versions.empty?
          %table
            %tr.header
              %td Time
              %td Version
              %td Commit
            - previous_versions.each_with_index do |version, i|
              %tr{ :class => i%2==0 ? 'even' : nil }
                %td= version[:time].strftime('%x %X')
                %td
                  %a{ :href => version_link(version[:version] }= version[:version]
                %td
                  %a{ :href => commit_link(version[:revision]) }= version[:revision]
    .spacer
    #headers
      .label Headers
      .value
        %table
          - headers.sort_by{ |h| h.first }.each_with_index do |(header, value), i|
            %tr{ :class => i%2==0 ? 'even' : nil }
              %td= header
              %td= value
    .clear
